@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.favMovie {
  width: 360px;
  height: 720px;
  padding: 40px;
  background-color: colors.$BACKGROUND_COLOR;
  border-radius: 60px;

  h1 {
    font-size: 24px;
    font-weight: 600;
    color: colors.$BIG_TITLE;
    text-align: center;
  }
}
.searched {
  margin-top: 40px;
  height: 534px;

  color: colors.$PLACE_HOLDER;
  h2 {
    font-size: 14px;
    font-weight: 600;
  }
  .noResult {
    margin-top: 40px;
    color: colors.$PLACE_HOLDER;
    font-size: 25px;
    font-weight: 600;
  }
}
.searchedMovie {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  position: relative;
  overflow: auto;
  height: 490px;
  margin-top: 24px;
  ul {
    margin-top: 24px;
    width: 100%;
  }
}
