@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
.DragDrop {
  text-align: center;
  border-radius: 60px;
}

.favoriteMovie {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  position: relative;
  overflow: auto;
  height: 490px;
  margin-top: 24px;
}
.icon {
  fill: colors.$PLACE_HOLDER;
}
